
.navbar-dark a {
    display: block;
    color: rgb(10, 13, 15);
    text-align: center;
    padding: 15px 17px;
    font-size: 20px;
    text-align: center;
}


* {box-sizing: border-box;}

.navbar-dark {
    overflow: hidden;
    background-color: sienna;
}